<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" href="/styles/register.css">
</head>
<body>
    <div id="background">
        <form method="post" action="/register/register_submitted">
            <h2 id="main-text">Create an account</h1>
            <% if (error) { %>
                <div id="error"><%= error %></div>
                <br/>
            <% }; %>

            <div id="group">
                <label for="email">
                    <strong id="sub-text">EMAIL <span>* </span></strong>
                </label>
                <input name="email" required/>
            </div>

            <div id="group">
                <label for="display_name">
                    <strong id="sub-text">DISPLAY NAME</strong>
                </label>
                <input name="display_name"/>
            </div>

            <div id="group">
                <label for="username">
                    <strong id="sub-text">USERNAME <span>* </span></strong>
                </label>
                <input name="username" required/>
            </div>

            <div id="group">
                <label for="password">
                    <strong id="sub-text">PASSWORD  <span>* </span></strong>
                </label>
                <input name="password" type="password" required/>
            </div>

            <div id="group">
                <label for="date">
                    <strong id="sub-text">DATE OF BIRTH  <span>* </span></strong>
                </label>
                <div id="subgroup">
                    <select name="month" id="month">
                        <option value="" disabled selected hidden>Month</option>
                        <option value="mar">March</option>
                        <option value="apr">April</option>
                        <option value="may">May</option>
                        <option value="jun">June</option>
                        <option value="jul">July</option>
                        <option value="aug">August</option>
                        <option value="sep">September</option>
                        <option value="oct">October</option>
                        <option value="nov">November</option>
                        <option value="dec">December</option>                    
                    </select>
                    <select name="day" id="day">
                        <option value="" disabled selected hidden>Day</option>
                        <% for(let i=1; i<=30; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                    <select name="year" id="year">
                        <option value="" disabled selected hidden>Year</option>
                        <% for(let i = currYear; i >= minYear; i--) { %>
                        <option value="<%= i %>"><%= i %></option>
                        <% } %>
                    </select>
                </div>
                
            </div>

            <div id="group">
                <button name="submit" type="submit">Continue</button>
                <p>
                    <span><a href="/login/">Already have an account?</a>
                </p>
            </div>
        </form>
    <img/>
</body>
</html>